/* Google font */
/*@import url('https://fonts.googleapis.com/css?family=Orbitron');*/
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
    background-color: #121212;
}

#clock {
    font-family: 'Russo One', sans-serif;
    color: firebrick;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}